body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

/* ===========================================================
                     Navigation Bar
 ========================================================== */

.navbar-fixed-top {
    background: transparent;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.nav.navbar-nav.navbar-right li a {
    color: #eaeaea;
    font-size: 16px;
    /*font-weight: bold;*/

}
.nav.navbar-nav.navbar-right li a:hover {
    color: white;

}
.navbar-default .navbar-brand {
    color: #eaeaea;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 25px;
}
#brand {
    height: 30px;
    width: 30px;
    display: inline;
    margin-right: 10px;
    border-radius: 10px;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: white;
}
.navbar-nav > li {
    padding-top: 5px;
    padding-bottom: 5px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

/* ===========================================================
                     Screen
 ========================================================== */

.screen {
    display: flex;
    flex-direction: column;

    position: absolute;
    width: 750px;
    height: 500px;
    margin: 75px auto;
    background-color: transparent;

    right: 0;
    left: 0;
}

#guess-bar {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#movies {
    margin-top: 10px;
}

.screen-bg {
    border-radius: 5px;

}

.seat {
    position: absolute;
    width: 700px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/* ===========================================================
                     Review Comments
 ========================================================== */

.bubble {
    position: absolute;
    width: 650px;
    height: 160px;
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0 auto;

    bottom: 150px;
    left: 0;
    right: 0;

    padding: 25px;
    color: black;
    text-align: center;

}

.bubble:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 310px;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #ffffff transparent;
    display: block;
    width: 0;
    z-index: 1;
}

/* ---------- Carousel ------------------ */

.review-text {
    text-align: center;
    font-size: 1.2em;
}
.carousel-control.left {
    position: absolute;
    left: -130px;
    background-image: none;
}
.carousel-control.right {
    position: absolute;
    right: -130px;
    background-image: none;
}
.carousel-control {
    height: 80px;
    width: 80px;
    margin-top: 10px;
    font-size: 45px;
    opacity: 1;

    background: #3c3f41;
    border: 4px solid #fdfdfe;
    border-radius: 40px;
    font-weight: bold;
    transition: all 0.3s ease;
}
.carousel-control:hover {
    opacity: 0.9;
    background: #ebc401;
}

/* Changes the position of the indicators */
#quote-carousel .carousel-indicators {
    position: fixed;
    bottom: 0;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li {
    background: #cbcbce;
}
#quote-carousel .carousel-indicators .active {
    background: #fdf303;
}

