/* Global Mixins */
/* all 0.5s ease */
.navbar-fixed-top {
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.nav.navbar-nav.navbar-right li a {
  color: grey;
  font-size: 16px; }
.nav.navbar-nav.navbar-right li a:hover {
  color: white; }

.navbar-nav > li {
  padding-top: 5px;
  padding-bottom: 5px; }

.navbar-default .navbar-brand {
  color: #eaeaea;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 25px; }

#brand {
  height: 30px;
  width: 30px;
  display: inline;
  margin-right: 10px;
  border-radius: 10px; }

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: white; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: white; }

/* ===========================================================
                          Screen
 ========================================================== */
#slides {
  margin: 80px auto; }

.carousel-cell {
  /* items within the movie slideshow */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  color: white;
  /* css style for fade */
  left: 0 !important;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -1; }

.carousel-cell.is-selected {
  opacity: 1;
  z-index: 0; }

.flickity-slider {
  transform: none !important; }

/* position dots up a bit */
.flickity-page-dots {
  bottom: -50px; }

/* dots are lines */
.flickity-page-dots .dot {
  height: 23px;
  width: 150px;
  margin: 0 10px;
  background: #e8e8e8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.flickity-page-dots .dot:hover {
  -webkit-box-shadow: 0 0 30px 0 white;
  -moz-box-shadow: 0 0 30px 0 white;
  box-shadow: 0 0 30px 0 white; }

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: gold;
  -webkit-box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.5); }

/* ===========================================================
                     Movie Button
 ========================================================== */
.button {
  text-decoration: none;
  font-size: 1.5em;
  text-align: center;
  color: #fdfdfe;
  line-height: 2.5em;
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 15px;
  -webkit-box-shadow: 0 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }

.button:hover {
  color: white;
  -webkit-box-shadow: 0 0 30px 0 rgba(55, 236, 124, 0.5);
  -moz-box-shadow: 0 0 30px 0 rgba(55, 236, 124, 0.5);
  box-shadow: 0 0 30px 0 rgba(55, 236, 124, 0.5);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background-color: #26a944;
  text-decoration: none; }

.seat {
  position: absolute;
  width: 700px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto; }

/* ===========================================================
                     Review Comments
 ========================================================== */
.bubble {
  position: absolute;
  width: 650px;
  height: 160px;
  padding: 25px;
  bottom: 150px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  color: black;
  text-align: center; }

.bubble:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 310px;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: #ffffff transparent;
  display: block;
  width: 0;
  z-index: 1; }

/* ---------- Carousel 1 ------------------ */
.review-text {
  text-align: center;
  font-size: 1.2em; }

.carousel-control.left {
  position: absolute;
  left: -130px;
  background-image: none; }

.carousel-control.right {
  position: absolute;
  right: -130px;
  background-image: none; }

.carousel-control {
  height: 80px;
  width: 80px;
  margin-top: 10px;
  font-size: 45px;
  opacity: 1;
  background: #3c3f41;
  border: 4px solid #fdfdfe;
  border-radius: 40px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.carousel-control:hover {
  opacity: 0.9;
  background: #ebc401;
  -webkit-box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.5); }

.carousel .item {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease; }

/* Changes the position of the indicators */
#quote-carousel .carousel-indicators {
  position: fixed;
  bottom: 0; }
  #quote-carousel .carousel-indicators li {
    background: #cbcbce; }
  #quote-carousel .carousel-indicators .active {
    background: #fdf303;
    -webkit-box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.5); }

body {
  background-color: black;
  font-family: 'Montserrat', sans-serif; }

/*# sourceMappingURL=game.css.map */
