/* ===========================================================
                          Screen
 ========================================================== */
#slides {
  margin: 80px auto;
}

.carousel-cell { /* items within the movie slideshow */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  color: white;

  /* css style for fade */
  left: 0 !important;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}

.carousel-cell.is-selected {
  opacity: 1;
  z-index: 0
}

.flickity-slider {
  transform: none !important;
}

/* position dots up a bit */
.flickity-page-dots {
  bottom: -50px;
}
/* dots are lines */
.flickity-page-dots .dot {
  height: 30px;
  width: 100px;
  margin: 0 10px;
  background: #e8e8e8;
  @include border-radius(5px);
}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: gold;
}

/* ===========================================================
                     Movie Button
 ========================================================== */
.button {
  text-decoration: none;
  font-size: 1.5em;
  text-align: center;
  color: #fdfdfe;
  line-height: 2.5em;
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 15px;
  @include box-shadow(0 0 0 0 transparent);
  @include transition(all 0.2s ease-in);
}
.button:hover {
  color: white;
  @include box-shadow(0 0 30px 0 rgba(55, 236, 124, 0.5));
  @include transition(all 0.2s ease-out);
  @include border-radius(5px);
  background-color: #26a944;
  text-decoration: none;
}
